<% @astronauts.each do |astronaut| %>
<section id="astronaut-<%= astronaut.id %>">
  <h1><%= astronaut.name %></h1>
  <p> <%= astronaut.age %></p>
  <p> <%= astronaut.job %></p>
  <p><%= astronaut.total_time_in_space %></p>
  <section class="missions">
    <% astronaut.all_missions.each do |mission| %>
    <p><%= mission.title %></p>
    <% end %>
  </section>
</section>
<% end %>

<section class="statistics">
  <h1><%= @astronauts.average_age %></h1>
</section>
