<% @astronauts.each do |astronaut| %>
<section id="astronaut-<%= astronaut.id %>">
  <h1><%= astronaut.name %></h1>
  <p> <%= astronaut.age %></p>
  <p> <%= astronaut.job %></p>
</section>
<% end %>

<section class="statistics">
  <h1><%= @astronauts.average_age %></h1>
</section>
